# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
*.local

upload

* copy.js
* copy.json
* copy *.js
* copy *.json

test.js
test.json
* test.js
* test.json
* test *.js
* test *.json

* test *.md

.env.production

pm2log

